//Main fonts
@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('otf'),
    url('../../assets/fonts/Alternatives/AvenirNextLTPro.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('otf'),
    url('../../assets/fonts/Alternatives/AvenirNextLTProBold.ttf');
    font-weight: 700;
}