@use "../../styles/partials/reset" as *;
@use "../../styles/partials//colors" as *;
@use "../../styles/partials//typography" as *;
@use "../../styles/partials//variables" as *;
@use "../../styles/partials//mixins" as *;

.header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    border-bottom: 0.0625rem solid $Mercury;
    &__nav {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        width: 9.375rem;
        padding-bottom: 1rem;
    }
    &__icon {
        position: absolute;
        left: 10px;
        top: 20%;
    }
    &__form {
        position: relative;
    }
    &__input {
        background-color: $Alabaster;
        height: 2rem;
        width: 78vw;
        padding-left: 2rem;
        border-radius: .25rem;
        border: .0625rem solid $Mercury;
        &:focus {
            border: .0625rem solid $Blue;
        }
        &:valid {
            border: .0625rem solid $Mercury;
        }
        &:invalid {
            border: .0625rem solid #d22d2d;
        }
    }
    &__wrapper {
        width: 100%;
        padding-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__profile {
        height: 2.25rem;
        width: 2.25rem;
        &-pic {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }
    &__upload-icon {
        position: absolute;
        left: 2rem;
    }
    &__upload-btn {
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        border: none;
        margin-top: 1rem;
        padding: 3% 35%;
        position: relative;
        color: $White;
        background-color: $Blue;
        border-radius: 0.25rem;
        font-size: 1.125rem;
        &:hover {
            color: $Dark-Blue;
        }
    }
}

@include media-query-medium {
    .header {
        display: flex;
        flex-direction: column;
        padding: 0 2rem 1rem 2rem;
        &__nav {
            display: flex;
            flex-direction: row;
            padding-top: 1rem;
        }
        &__logo {
            width: 9.375rem;
            padding: 0;
        }
        &__icon {
            left: 10px;
            top: 30%;
        }
        &__input {
            order: 1;
            height: 2.5rem;
            width: 30vw;
            padding-left: 3rem;
            border-radius: .25rem;
            padding-top: 5.25%;
            padding-bottom: 5.25%;
        }
        &__wrapper {
            width: 100%;
            padding-bottom: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }
        &__profile {
            height: 3rem;
            width: 3rem;
            order: 3;

        }
        &__upload-icon {
            left: 1rem;
        }
        &__upload-btn {
            margin-left: 1rem;
            margin-right: 1rem;
            order: 2;
            display: flex;
            justify-content: center;
            margin-top: 0;
            width: auto;
            padding: 1.25% 8%;
        }
    }
}

@include media-query-large {
    .header {
        padding: 1 4rem;
    }
}