@use "../../styles/partials/reset" as *;
@use "../../styles/partials//colors" as *;
@use "../../styles/partials//typography" as *;
@use "../../styles/partials//variables" as *;
@use "../../styles/partials//mixins" as *;


.video {
    &__player {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: $Dark-Black;
        &::-webkit-media-controls-enclosure {
            color: $White;
        }

        &::-webkit-media-controls-timeline::-webkit-media-slider-thumb {
            width: 1rem;
            height: 1rem;
        }

        &::-webkit-media-controls-timeline::-webkit-media-slider-runnable-track {
            background-color: $Dark-Blue;
        }
    }
    &__info {
        padding: 0 1rem;
    }
    &__title {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: .0625rem solid $Mercury;
    }
    &__wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: .0625rem solid $Mercury;
    }
    &__channel {
        font-size: 1.25rem;
        padding-right: 4.5rem;
        padding-bottom: 1rem;
    }
    &__views {
        padding-bottom: 1rem;
        color: $Silver;
    }
    &__likes {
        color: $Silver;
    }
    &__timestamp {
        color: $Silver;
    }
    &__icon {
        padding-right: 0.5rem;
    }
    &__description {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &__reference {
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
        width: 60%;
        padding-top: 1rem;
    }
    &__engagement {
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
        width: 40%;
        padding-top: 1rem;
    }
    &__timestamp {
        padding-right: 7.5rem;
    }
}

@include media-query-medium {
    .video {
        &__info {
            padding: 0 2rem;
        }
        &__channel {
            padding-right: 2rem;
            width: auto;
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
        &__reference {
            flex-direction: row;
            width: auto;
        }
        &__timestamp {
            padding-top: 0.2rem;
        }
        &__views {
            padding-top: 0.2rem;
        }
        &__likes {
            padding-left: 1rem;
            padding-top: 0.2rem;
        }
        &__engagement {
            flex-direction: row;
            width: auto;
        }
        &__title {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

@include media-query-large {
    .wrapper {
        width: 60%;
        display: inline-flex;
        flex-direction: column;
    }
}